@using Microsoft.AspNetCore.Http

@model ReversiRestApi.Models.ApiGame

<link href="@Url.Content("~/css/style.min.css")" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Board";
}

<head>
    <H1>Game hiero!</H1>
    <a asp-action="Start" asp-route-token="@Model.Token" class="btn btn-primary">Start Game</a>
    <p>@Model.Status</p>
</head>

<div id="board"></div>

@section scripts {
    <script src="@Url.Content("~/js/app.js")" type="text/javascript"></script>

    <script type="text/javascript">
        Game.init("developement", "@Model.Token");
    </script>

    <script type="text/javascript">
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/gameHub").build();

        connection.on("ReceiveMessage",
            function(gameToken, message) {

            });

        connection.start().catch(function(err) {
            return console.error(err.toString());
        });

        $(() => {
            connection.invoke("JoinGroup", "@Model.Token").catch(function(err) {
                return console.error(err.toString());
            });

        document.getElementById("cell").addEventListener("click",
            function(event) {

                connection.invoke("SendMessageToGroup", "groupName", message).catch(function(err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
            });

       

    </script>

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/app.js"></script>
}
