@model IEnumerable<ReversiRestApi.Models.ApiGame>
@using System.Security.Claims

@{
    ViewData["Title"] = "Waiting";
}

<h1>Waiting</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <a asp-action="Joined" class="btn btn-primary" >Joined</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Join" asp-route-token="@item.Token">Join</a>
            </td>
        </tr>
}
    </tbody>
</table>
